package com.yabale.kuoauth;

public enum OAuthConfigTest {

    QQ("***", "***", "***"),

    GITHUB("***", "***", "***"),

    GITEE("***", "***", "***");

    private String clientId;
    private String clientSecret;
    private String redirectUri;

    OAuthConfigTest(String clientId, String clientSecret, String redirectUri) {
        this.clientId = clientId;
        this.clientSecret = clientSecret;
        this.redirectUri = redirectUri;
    }

    public String getClientId() {
        return clientId;
    }

    public String getClientSecret() {
        return clientSecret;
    }

    public String getRedirectUri() {
        return redirectUri;
    }

    public static String getAlipayPublicKey() {
            return "";
        }
}
